@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
}

.icons {
  @apply p-2.5 text-xl shadow-xl rounded-md text-white bg-slate-800 border border-slate-800 
}

.icons:hover {
  @apply p-2.5 text-xl shadow-xl rounded-md text-black bg-white border border-slate-400
}

.custom-tooltip {
  background-color: #000 !important;
  color: #fff !important;
  /* padding: 10px 15px !important; */
  font-size: 14px !important;
  border-radius: 6px !important;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3) !important;
  opacity: 0.95 !important;
}
